In [6]:
#sets
# does not allow duplicate elements
# unordered : doesn't preserve the actual order
# unindexed
#unchangeable


my_set = {2, 8, 3, 2, 9}

In [7]:
my_set

{2, 3, 8, 9}

In [8]:
my_set = {"Daniel", 23, "Romania", "Europe", "Daniel", 23}

In [9]:
my_set

{23, 'Daniel', 'Europe', 'Romania'}

In [15]:
from random import shuffle
my_list = list(range(2, 17, 2))
shuffle(my_list)

In [16]:
my_list

[4, 8, 2, 12, 6, 16, 10, 14]

In [18]:
set(my_list)

{2, 4, 6, 8, 10, 12, 14, 16}

In [19]:
my_set = {"a", "ab", "aa", "ag", "ac"}

In [20]:
my_set

{'a', 'aa', 'ab', 'ac', 'ag'}

In [21]:
my_set

{'a', 'aa', 'ab', 'ac', 'ag'}

In [22]:
my_set.add("dcjne")

In [23]:
my_set

{'a', 'aa', 'ab', 'ac', 'ag', 'dcjne'}

In [24]:
my_set = {"Daniel", 23, "Romania", "Europe", "Daniel", 23}

In [25]:
my_set.update({"bucharest"}) # update in dictionary only expects dictionary but update in set accepts any collection type

In [26]:
my_set

{23, 'Daniel', 'Europe', 'Romania', 'bucharest'}

In [27]:
my_set.update([1,2,3])

In [28]:
my_set

{1, 2, 23, 3, 'Daniel', 'Europe', 'Romania', 'bucharest'}

In [30]:
my_set.remove(2) # remove gives error if element doesn't exist

KeyError: 2

In [31]:
my_set.discard(2) # discard will not give an error if element is not present

In [32]:
my_set

{1, 23, 3, 'Daniel', 'Europe', 'Romania', 'bucharest'}

In [34]:
my_set.discard(3)

In [35]:
my_set

{1, 23, 'Daniel', 'Europe', 'Romania', 'bucharest'}

In [36]:
my_set.clear()

In [37]:
my_set

set()

In [46]:
my_set.add(11)

In [47]:
my_list

[4, 8, 2, 12, 6, 16, 10, 14]

In [48]:
my_set.update(my_list)

In [49]:
my_set

{1, 2, 4, 6, 8, 10, 11, 12, 14, 16}

In [52]:
for x in my_set:
    if x%2==0:
        print(x)
    else:
        print("not divisible by 2>>>>",x)

not divisible by 2>>>> 1
2
4
6
8
10
not divisible by 2>>>> 11
12
14
16

In [54]:
# comprehension
{x for x  in my_set if x%2==0}

{2, 4, 6, 8, 10, 12, 14, 16}

In [55]:
fruits = {"mango", "apple", "orange", "peach"}

veggies = {"banana", "mango", "tomato", "potato"}

In [58]:
#difference

fruits.difference(veggies)

{'apple', 'orange', 'peach'}

In [59]:
fruits

{'apple', 'mango', 'orange', 'peach'}

In [60]:
#difference_update

fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}

fruits.difference_update(veggies)

In [61]:
fruits

{'apple', 'orange', 'peach'}

In [64]:
# intersection


fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}


c = fruits.intersection(veggies)

In [65]:
c

{'mango'}

In [66]:
fruits

{'apple', 'mango', 'orange', 'peach'}

In [67]:
# intersection_update

fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}


fruits.intersection_update(veggies)

In [68]:
fruits

{'mango'}

In [72]:
# isdisjoint
# returns False if any element from a set is present in another set

fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana","mango", "tomato", "potato"}

fruits.isdisjoint(veggies)

False

In [76]:
# issubset


x = [1,2,3,4,5]
y = [3,4]

set(y).issubset(set(x))

True

In [79]:
# issubset


x = [1,2,3,4,5]
y = [3,4]

set(x).issuperset(set(y))

True

In [82]:
#symmeteric_Difference

fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}


print(fruits.symmetric_difference(veggies))
fruits

{'banana', 'tomato', 'potato', 'apple', 'peach', 'orange'}

{'apple', 'mango', 'orange', 'peach'}

In [83]:
#symmeteric_Difference_update


fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}


print(fruits.symmetric_difference_update(veggies))
fruits

None

{'apple', 'banana', 'orange', 'peach', 'potato', 'tomato'}

In [84]:
# union



fruits = {"mango", "apple", "orange", "peach"}
veggies = {"banana", "mango", "tomato", "potato"}



print(fruits.union(veggies))
fruits

{'banana', 'tomato', 'apple', 'potato', 'peach', 'mango', 'orange'}

{'apple', 'mango', 'orange', 'peach'}