In [62]:
# Tuples
# Immutable
# Indexed
# Ordered
# allows duplicates



my_tuple = ("ABC", 1.12, 23, True, "hello")

In [63]:
type(my_tuple)

tuple

In [64]:
my_tuple.count("ABC")

1

In [65]:
len(my_tuple)

5

In [66]:
# enumerate

for x, y in enumerate(my_tuple):
    print(x, "is the index of value>>>", y)

0 is the index of value>>> ABC
1 is the index of value>>> 1.12
2 is the index of value>>> 23
3 is the index of value>>> True
4 is the index of value>>> hello

In [67]:
my_tuple[2]

23

In [68]:
my_tuple.index(23)

2

In [69]:
my_tuple

('ABC', 1.12, 23, True, 'hello')

In [70]:
# unpacking
a, *qw, w = my_tuple

In [71]:
a

'ABC'

In [72]:
w

'hello'

In [73]:
qw

[1.12, 23, True]

In [74]:
# one workaround to edit tuple
# you can add to tuples with another tuple

my_second_tuple = ("qwerty", 34.56)

my_tuple = my_tuple + my_second_tuple

In [75]:
my_tuple

('ABC', 1.12, 23, True, 'hello', 'qwerty', 34.56)

In [111]:
# dictionary
# its key and value pair
# Doesn't allow duplicates
# Ordered, from python version 3.7 and above
# Indexed - No we don't 


my_dict = {
            "brand": "Skoda",
            "model": "Laura",
            "year": 2020,
            "CC": 2345.44,
            ('is_passed',) : True 
          }

In [110]:
type(my_dict)

dict

In [108]:
my_dict

{'brand': 'Skoda',
 'model': 'Laura',
 'year': 2020,
 'CC': 2345.44,
 ('is_passed',): True}

In [117]:
try:
    print(my_dict["years"])
except KeyError:
    print("None")

None

In [118]:
print(my_dict.get("years"))

None

In [120]:
# keys
# values
# items

In [122]:
#keys

list(my_dict.keys())

['brand', 'model', 'year', 'CC', ('is_passed',)]

In [123]:
# values

list(my_dict.values())

['Skoda', 'Laura', 2020, 2345.44, True]

In [125]:
#items

list(my_dict.items())

[('brand', 'Skoda'),
 ('model', 'Laura'),
 ('year', 2020),
 ('CC', 2345.44),
 (('is_passed',), True)]

In [126]:

car = {
    'brand':["ford", 'volksvagen', "toyota", "suzuki", "hyundai"],
    'model':["mustang", "vento", "fortuner", "baleno", 'verna'],
    'year': [1999, 2020, 2012, 2011, 2009],
    "cc": [1999.45, 2020.33, 2012.22, 2011.56, 2009.76]
}

In [127]:
car

{'brand': ['ford', 'volksvagen', 'toyota', 'suzuki', 'hyundai'],
 'model': ['mustang', 'vento', 'fortuner', 'baleno', 'verna'],
 'year': [1999, 2020, 2012, 2011, 2009],
 'cc': [1999.45, 2020.33, 2012.22, 2011.56, 2009.76]}

In [131]:
import pandas as pd

data_frame = pd.DataFrame(car)
data_frame

        brand     model  year       cc
0        ford   mustang  1999  1999.45
1  volksvagen     vento  2020  2020.33
2      toyota  fortuner  2012  2012.22
3      suzuki    baleno  2011  2011.56
4     hyundai     verna  2009  2009.76

In [ ]:
# update
# few methods